<h3>All users list</h3>

<!-- <ul>
  <% @users.each do |user| %>
  <li>
    <a href="users/<%= user[:id] %>">
      <%= user[:name] %>
    </a>
    <a href="#">Delete this user</a>
  </li>
  <% end %>
</ul> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user[:id] %>
      </td>
      <td>
        <%= user[:name] %>
      </td>
      <td>
        <!-- show flow -->
        <!-- <button type="button" class="btn btn-view">View</button> -->
        <a href="/users/<%= user[:id] %>">View</a> |
        <!-- <form action="/users/<%= user[:id] %>" method="view" value="view">
          <input type="submit" value="view"> -->
          <!-- <button type="submit" class="btn btn-primary">view</button> -->

          <!-- <form action="/users/<%= user[:id] %>" method="edit">
            <input type="submit" value="edit"> -->

        <a href="/users/<%= user[:id] %>/edit">Edit</a>
        <a href="/users/<%= user [:id] %>" method="post"></a>
        <!-- delete flow  -->
        <form action="/users/<%= user[:id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <!-- <button type="submit" class="btn btn-danger">delete</button> -->
          <input type="submit" value="delete">
          <!-- <button type="button" class="btn btn-view">Delete</button> -->

        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
